.App-link {
  color: #61dafb;
}
@media only screen and (min-width: 800px) {
  .Logo-wrapper img {
    height: auto;
    width: 100%;
    pointer-events: none;
  }

  .App-header {
    margin: 2%;
    margin-left: 6%;
    margin-right: 6%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: calc(10px + 2%);
    color: white;
  }
}

@media only screen and (max-width: 799px) {
  .App-logo {
    height: 2vh;
    pointer-events: none;
  }

  .App-header {
    margin: 2vmin;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: calc(10px + 2vmin);
    color: white;
  }
}

.Logo-wrapper {
  margin: 2%;
  background-color: var(--contrastcolor);
  padding: 2%;
  font-size: calc(2.75vmin);
}
